/*color variables*/
:root {
  --frame-color: #dab857;
  --wall-color: #9e75d5;
  --accent-color: #00bcc4;
  --cabinet-color: #d9d0b0;
}

/*page styling*/
body {
  background-image: url("../images/textures/brickwall.png");
}
.header {
  margin-bottom: 20px;
  background: var(--wall-color);
  color: white;
  border-bottom: var(--frame-color) 9px solid;
}
.alert-info{
  background: white;
  color: var(--accent-color);
  padding: 15px;
  border-radius: 14%;
  font-weight: normal;
  margin: 0;
}

/*page section divs*/
.your-char-div {
  /*styling for character buttons container*/
}
.enemies-div {
  /*styling for enemy buttons container*/
}
.defender-div {
  /*styling for defender button container*/
}

/*character buttons*/
.character-button {
  min-width: 180px;
  overflow: auto; /*expand height to fit image*/
  float:left;
  margin: 10px; 
  padding: 15px;
  font-size: medium;
  background: var(--cabinet-color);
  border: none;
}
.user-char-btn {
 background: #BDFFA4;
 color: #1C2719;
 border: none;
}
.user-char-btn .thumbnail{
  background: var(--#BDFFA4);
}
.enemy-btn {
  background: var(--cabinet-color);
  border: none;
}
.defender-btn {
  background: #FF6263;
  color: #381616;
  border: none;
}

/*character display/text*/
.char-name {
  /*styling for character names on buttons*/
}
.char-hp {
  /*styling for character HP on buttons*/
  margin: 4px;
}
.char-thumbnail {
  height: 160px;
  width: 160px;
  object-fit: cover;
  margin: 0 auto;
  background: var(--frame-color);
  border: none;
}

/*game buttons*/
.hidden-button {
  display: none; /*starts hidden*/
  color: white;
  background: var(--wall-color);
  font-size: large;
}
.hidden-button:hover,
.hidden-button:active,
.hidden-button:focus {
  color: var(--wall-color);
  background: white;
}
.attack-button{
  margin: 10px auto 0 auto; /*center in char-btn container, add top space btwn thumbnail and button*/
}
.new-game-button {
  font-size: x-large;
  margin: 10px;
  float:right;
  box-shadow: 0 0 3px var(--accent-color);
  z-index: 2;
}