/*character category*/

.character-button {
  width: 200px;
  overflow: auto; /*expand height to fit image*/
  float:left;
  margin: 5px; 
}
.user-char-btn {
 border: green thick solid;
}
.enemy-btn {
  border: black thick solid;
}
.defender-btn {
  border: red thick solid;
}

/*character button text*/

.char-name {
  border: purple thin solid;
}
.char-hp {
  border: pink thin solid;
}
.char-thumbnail {
  height: 180px;
  width: 180px;
  object-fit: cover;
  margin: 0 auto;
}

/*page section divs*/
.your-char-div {
  border: green thin solid;
}
.enemies-div {
  border: blue thin solid;
}
.defender-div {
  border: red thin solid;
  overflow: auto;
}
.battle-text {
  border: pink thick solid;
}

/* game buttons*/
.game-button {
  display: none; /*starts hidden*/
  background: pink;
}
.attack-button {
  background: #FF614A;
}
.new-game-button {
  background: purple;
}