/*color variables*/
:root {
  --frame-color: #dab857;
  --wall-color: #9e75d5;
  --accent-color: #00bcc4;
  --cabinet-color: #d9d0b0;
}

/*page styling*/
.page {
  background-image: url("../images/textures/brickwall.png");
}
header {
  margin-bottom: 20px;
  padding: 0 30px 0 30px;
  background: var(--wall-color);
  color: white;
}
footer{
  height: 60px;
  line-height: 50px;
  margin-top: 40px;
  padding: 0;
  font-size: small;
  text-align: center;
  color: white;
  background: var(--wall-color);
  border-top: var(--frame-color) 6px solid;
}
h3{
  color: var(--accent-color);
  letter-spacing: 2px;
}
.alert-info{
  background: white;
  color: var(--accent-color);
  padding: 20px;
  font-weight: normal;
  margin: 5px;
  overflow:auto; /*encompass play again button */
  position: relative; /*position play again button absolutely*/
  font-family: 'Pangolin', cursive;
  letter-spacing: 1px;
  border: none;
}
.alert-info h4 {
  line-height: 20px;
  margin: 0 auto; /*remove default margin*/
  font-size: 18px;
}

/*character buttons*/
.character-button {
  min-width: 170px;
  overflow: auto; /*expand height to fit image*/
  display: inline;
  margin: 5px auto 5px 5px;
  padding: 10px;
  font-size: medium;
  color: #1C2719;
  background: #BDFFA4;
  border: none;
}
.user-char-btn {
 background: var(--wall-color);
 color: black;
 border: none;
}
.enemy-btn {
  background: var(--cabinet-color);
  border: none;
}
.defender-btn {
  background: #FF6263;
  color: #381616;
  border: none;
}

/*character display/text*/
.char-name {
  /*styling for character names on buttons*/
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  padding-bottom: 5px;
}
.char-hp {
  /*styling for character HP on buttons*/
  font-family: 'Roboto Slab', serif;
  padding-top: 5px;
}
.char-thumbnail {
  height: 160px;
  width: 160px;
  object-fit: cover;
  margin: 0 auto;
  padding: 5px;
  background: var(--frame-color);
  border: none;
}

/*game buttons*/
.hidden-button {
  display: none; /*starts hidden*/
  color: white;
  background: var(--wall-color);
  font-size: large;
}
.attack-button{
  margin: 10px auto 0 auto; /*center in char-btn container, add top space btwn thumbnail and button*/
}
.attack-button:hover,
.attack-button:active,
.attack-button:focus {
  color: var(--wall-color);
  background: white;
}
.new-game-button {
  color: white;
  background: var(--accent-color);
  font-size: larger;
  line-height: 20px;
  margin: 13px 26px 13px 0;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}
.new-game-button:hover,
.new-game-button:active,
.new-game-button:focus{
  background: white;
  color: var(--accent-color);
  border: var(--accent-color) 1px solid;
}